<section id="team-section" class=" g-bg-secondary">
  <div class="g-theme-bg-gray-dark-v1-opacity-0_95--after g-pt-30 g-pt-80--md g-pb-250">
    <div class="g-max-width-550 text-center mx-auto g-mb-100">
      <h1 class="text-uppercase g-color-main-light-v1 g-font-weight-600 g-letter-spacing-2 mb-4">Sobre nós</h1>
      <p class="g-font-size-16"></p>
    </div>
  </div>

  <div class="container g-mt-minus-300">
   
    <div class="row col-lg-12">
      <div class="col-md-4 col-lg-4 g-mb-30 g-mb-0--lg">
        <div class="text-center">
        
          <figure class="g-pos-rel g-parent g-mb-30">
            
            <img class="w-100" src="assets/img/thiago.jpg" alt="Thiago Moura">
           
            <figcaption class="g-pos-abs g-top-0 g-left-0 g-flex-middle w-100 h-100 g-bg-primary-dark-v1-opacity-0_8 opacity-0 g-opacity-1--parent-hover g-pa-20 g-transition-0_2 g-transition--ease-in">
              <div class="g-flex-middle-item g-line-height-1_4 g-color-white"></div>
            
              <ul class="list-inline g-flex-middle-item--bottom g-mb-30 mt-0">
                <!-- <li class="list-inline-item g-mx-5">
                  <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-primary--hover"
                    href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item g-mx-5">
                  <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-primary--hover"
                    href="#">
                      <i class="fa fa-pinterest"></i>
                    </a>
                </li> -->
                <li class="list-inline-item g-mx-5">
                  <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-primary--hover"
                    href="#">
                      <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li class="list-inline-item g-mx-5">
                  <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-primary--hover"
                    href="#">
                      <i class="fa fa-linkedin"></i>
                    </a>
                </li>
              </ul>
            </figcaption>
          </figure>
          <em class="d-block text-uppercase g-font-style-normal g-font-weight-700 g-font-size-11 g-color-primary g-mb-5">Computação</em>
          <h4 class="text-uppercase g-font-weight-700 g-font-size-18 g-theme-color-gray-dark-v1 g-mb-7">Thiago Moura</h4>
        </div>
      </div>

      <div class="col-md-4 col-lg-4 g-mb-30 g-mb-0--md">
        <div class="text-center">
          <figure class="g-pos-rel g-parent g-mb-30">
            <img class="w-100" src="assets/img/wallace.jpg" alt="Wallace Brito">
            <figcaption class="g-pos-abs g-top-0 g-left-0 g-flex-middle w-100 h-100 g-bg-primary-dark-v1-opacity-0_8 opacity-0 g-opacity-1--parent-hover g-pa-20 g-transition-0_2 g-transition--ease-in">
                <div class="g-flex-middle-item g-line-height-1_4 g-color-white"></div>
                <ul class="list-inline g-flex-middle-item--bottom g-mb-30 mt-0">
                <!-- <li class="list-inline-item g-mx-5">
                  <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-primary--hover"
                    href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item g-mx-5">
                  <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-primary--hover"
                    href="#">
                      <i class="fa fa-pinterest"></i>
                    </a>
                </li>-->
                <li class="list-inline-item g-mx-5">
                  <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-primary--hover"
                    href="#">
                      <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li class="list-inline-item g-mx-5">
                  <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-primary--hover"
                    href="#">
                      <i class="fa fa-linkedin"></i>
                    </a>
                </li>
              </ul>
            </figcaption>
          </figure>
          <em class="d-block text-uppercase g-font-style-normal g-font-weight-700 g-font-size-11 g-color-primary g-mb-5">Computação</em>
          <h4 class="text-uppercase g-font-weight-700 g-font-size-18 g-theme-color-gray-dark-v1 g-mb-7">Wallace Brito</h4>
        </div>
      </div>

      <div class="col-md-4 col-lg-4">
        <div class="text-center">
          <figure class="g-pos-rel g-parent g-mb-30">
            <img class="w-100" src="assets/img/glauco.jpg" alt="Glauco Leme">
            <figcaption class="g-pos-abs g-top-0 g-left-0 g-flex-middle w-100 h-100 g-bg-primary-dark-v1-opacity-0_8 opacity-0 g-opacity-1--parent-hover g-pa-20 g-transition-0_2 g-transition--ease-in">
              <div class="g-flex-middle-item g-line-height-1_4 g-color-white"></div>              
              <ul class="list-inline g-flex-middle-item--bottom g-mb-30 mt-0">
                <!-- <li class="list-inline-item g-mx-5">
                  <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-primary--hover"
                    href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item g-mx-5">
                  <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-primary--hover"
                    href="#">
                      <i class="fa fa-pinterest"></i>
                    </a>
                </li>-->
                <li class="list-inline-item g-mx-5">
                  <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-primary--hover"
                    href="#">
                      <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li class="list-inline-item g-mx-5">
                  <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-primary--hover"
                    href="#">
                      <i class="fa fa-linkedin"></i>
                    </a>
                </li>
              </ul>
            </figcaption>
          </figure>
          <em class="d-block text-uppercase g-font-style-normal g-font-weight-700 g-font-size-11 g-color-primary g-mb-5">Controle e Automação</em>
          <h4 class="text-uppercase g-font-weight-700 g-font-size-18 g-theme-color-gray-dark-v1 g-mb-7">Glauco Leme</h4>
        </div>
      </div>
    </div>
    
  </div>
</section>
